#cta {
  background-image: url("../../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  #cta {
    background-image: url("../../images/bg-simplify-section-mobile.svg");
  }
}
